.env
.google_application_credentials.json
.idea/

*.log
*/selectors.txt
**/.DS_Store
**/__pycache__/

annotations/
collected_data/
consentomatic
domains
data/
experiments/
figs/
ignored_by_git/
logs/
models/
openwpm/
postgres_data/
tmp/
